{% extends 'topbar.html' %}
{% load static %}

{% block head %}
<title>Non Scan Settings</title>
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-grid.css">
    <link rel="stylesheet" href="https://unpkg.com/ag-grid-community/styles/ag-theme-alpine.css">
    <script src="https://unpkg.com/ag-grid-community/dist/ag-grid-community.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/handsontable@14.5/dist/handsontable.full.min.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.jsdelivr.net/npm/handsontable@14.5/dist/handsontable.full.min.css" />
    <script src="https://handsontable.com/docs/scripts/fixer.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <style>
         #example {
            max-width: 900px;
            width: 100%;
        }
    </style>
{% endblock %}

{% block content %}
    {% include 'user_navbar.html' %}
    <div class="content p-4">
        <div class="intro-y w-full pr-1 flex flex-col justify-center items-center">
            <div class="w-8/12 p-1 border border-dashed border-gray-400 rounded-md">
                <div class="pos__tabs nav-tabs flex"> 
                    {% if request.user.is_staff %}
                    <a data-toggle="tab" href="{% url 'millInfo' %}" class="flex-1 py-1 px-1 rounded-md text-sm text-center">Mill Information</a> 
                    {% endif %}
                    {% if request.user.is_staff or request.user.userprofile.permissions.setup_machine_view %}
                    <a data-toggle="tab" href="{% url 'millSetupMachine' %}" class="flex-1 py-1 px-1 rounded-md text-sm text-center">Setup Machines</a> 
                    <a data-toggle="tab" href="{% url 'millConfig' %}" class="flex-1 py-1 px-1 rounded-md text-sm text-center">Machine Summary</a> 
                    {% endif %}
                    {% if request.user.is_staff or request.user.userprofile.permissions.set_shift_view %}
                    <a data-toggle="tab" href="{% url 'millShift' %}" class="flex-1 py-1 px-1 rounded-md text-sm text-center active">Shift Settings</a> 
                    {% endif %}
                </div>
            </div>
            <div class="tab-content p-8 mt-2 w-full flex justify-center">
                <div class="tab-content__pane w-full flex justify-center active" id="shiftSet">
                    <div id="example"></div>
                </div>
            </div>
        </div>
    </div>
    <script>
        const container = document.querySelector('#example');
    
        const hot = new Handsontable(container, {
            data: [
                ['Morning', 8, 11],
                ['Afternoon', 20, 11 ],
                ['Evening', 30, 15],
                ['Night', 30, 15],
            ],
            colHeaders: ['Shifts', 'The mill Shift Starting Time', 'The mill Shift Ending Time'],
            rowHeaders: true,
            rowHeights: 30,
            height: '320px',
            width: '100%',
            manualColumnResize: true,
            licenseKey: 'non-commercial-and-evaluation',
        });
    </script>    
{% endblock %}

